* {
    margin: 0;
    padding: 0;
}

/* header {
    padding: 20px 35px;
    background-color: black;
    border-style: solid;
    border-color: thistle;
} */

header {
    background: url(../OtherNotes/mainpagebac.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

header nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin: 10px;
}

header nav ul li {
    display: inline;
}

header a {
    color: burlywood;
    text-decoration: none;
}

header nav ul li a {
    padding: 5px 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}



/* header a {
    color: whitesmoke;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 10px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    padding: 20px 35px;
    border-style: solid;
    border-color: thistle; 
} */

/* Figure out how to make this look more polished */