* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hex color ideas: #4b3832 #854442 #fff4e6 #3c2f2f #be9b7b*/
/* Hex color ideas; #051e3e #251e3e #451e3e #651e3e #851e3e*/

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #451e3e;
    color: blanchedalmond;
}

header {
    padding: 20px 35px;
    background-color: #851e3e;  
}  

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: blanchedalmond;
    margin: 0;
    display: inline;
}
  
header a {
    text-decoration: none;
    color: blanchedalmond;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background: #851e3e;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: blanchedalmond;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    color: blanchedalmond;
    font-size: 25px;
}

section {
    padding: 60px; 
}

.hero {
    background-image: url(../OtherNotes/assets/temphero2.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    background-color: #451e3e;
    padding: 20px;
    width: 500px;
    color: blanchedalmond;
    border: solid 3px #851e3e;
    position: absolute;
    bottom: 150px;
    right: 70px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid blanchedalmond;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: blanchedalmond;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: blanchedalmond;
    background-color: #851e3e;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.intro {
    text-align: center;
}

.intro p {
    line-height: 1.7;
    color: blanchedalmond;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.info {
    text-align: center;
    background: #851e3e;
}

.section-title {
    font-size: 55px;
    color: blanchedalmond;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}
  
.primary-border {
    border-color: #ee447a;
}
  
.secondary-border {
    border-color: #ee447a;
}

.steps div {
    margin-bottom: 80px;
}
  
.steps img {
    width: 15%;
    margin: 10px 0;
}
  
.steps h3 {
    color: blanchedalmond;
    font-size: 46px;
    margin-top: 10px;
}
  
.steps p {
    color: blanchedalmond;
    font-size: 23px;
}
